/* GENERAL */

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* HEADER */

header .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  background-color: #fff;
  position: fixed;
  z-index: 2;
  height: 92px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header input {
  border: none;
  width: 590px;
  height: 36px;
  padding-left: 50px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #f5f6f7;
  cursor: pointer;
}

header .inputLogo {
  position: absolute;
  color: #bebebe;
}

header i {
  cursor: pointer;
  margin: 13px;
}

header img {
  width: 76px;
  height: 30px;
}

header button {
  outline: none;
  font-family: inherit;
  font-size: 12px;
  border-radius: 5px;
  padding: 5px;
}

header button:nth-child(1) {
  padding: 5px 20px;
}

header button:nth-child(1),
header button:nth-child(2) {
  color: #2db0ba;
  background-color: white;
  border: 1px solid #2db0ba;
  margin: 0 14px;
}

header button:nth-child(3) {
  color: white;
  background-color: #2db0ba;
  border: 1px solid #2db0ba;
  margin: 0 30px;
}

header button:nth-child(1):hover,
header button:nth-child(2):hover {
  color: white;
  background-color: #2db0ba;
  border: 1px solid #2db0ba;
}

header button:nth-child(3):hover {
  color: #2db0ba;
  background-color: white;
  border: 1px solid #2db0ba;
}

/*  HEADING */

.heading {
  position: relative;
  background-image: url("assets/img/headingImg.jpeg");
  height: 544px;
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.heading h1 {
  font-size: 34px;
  line-height: 42.5px;
  margin-bottom: 40px;
}

.heading > div {
  margin-top: 95px;
  box-sizing: border-box;
  padding: 38px 60px 30px 34px;
  position: absolute;
  top: 96px;
  left: 140px;
  width: 400px;
  height: 257px;
  background-color: #fff;
}

.heading button {
  border-style: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  background-color: #0ab0ba;
  color: white;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.heading p {
  color: #0ab0ba;
  cursor: pointer;
}

.heading p:hover {
  text-decoration: underline;
}

.heading .effect {
  width: 50%;
  height: auto;
  position: absolute;
  right: 0;
  bottom: 0;
}

/* ARTICLES  */

.articles-container {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.article .userInfo img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 10px;
}

.articlePhoto img {
  margin-top: 10px;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

/*  OFFER */

.offerContainer {
  background-color: #ebedee;
}

.offerContainer img {
  margin-top: 121px;
  width: 340px;
  height: 450px;
}

div.offerContainer > div.container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.productInfo {
  margin-top: 121px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-around;
  background-color: white;
  width: 300px;
  height: 450px;
  padding: 30px;
}

.productInfo h2 {
  font-weight: bold;
}

.productInfo p {
  text-transform: uppercase;
}

hr {
  margin: 10px 0;
  color: lightgray;
}

.sousProductInfo {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.sousProductInfo .info-col-1 {
  color: #b9b9b9;
}

.sousProductInfo .info-col-2 {
  color: #8f8f8f;
}

p.description {
  font-size: 14px;
  text-transform: none;
  word-break: break-word;
}

.sousProductInfo2 p {
  text-transform: none;
  margin-bottom: 10px;
  font-size: 14px;
}

.sousProductInfo2 img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.productInfo button {
  border-style: none;
  outline: none;
  font-family: inherit;
  font-weight: bold;
  font-size: 14px;
  background-color: #0ab0ba;
  color: white;
  padding: 10px 0;
  border-radius: 5px;
  cursor: pointer;
}
