/* GENERAL */

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* HEADER */

header {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header input {
  border: none;
  width: 389px;
  height: 36px;
  font-size: 16px;
  border-radius: 5px;
  background-color: lightgray;
}

header img {
  width: 76px;
  height: 30px;
}

/*  HEADING */

.heading {
  position: relative;
  background-image: url("assets/img/headingImg.jpeg");
  height: 450px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.heading > div {
  position: absolute;
  top: 96px;
  left: 140px;
  width: 400px;
  height: 257px;
  background-color: #fff;
}

/* ARTICLES  */

.articles-container {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.article .userInfo img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 10px;
}

.articlePhoto img {
  margin-top: 10px;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

/*  OFFER */

.offerContainer {
  background-color: #ebedee;
}

.offerContainer img {
  width: 340px;
  height: 450px;
}

div.offerContainer > div.container {
  border: 2px solid blue;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.productInfo {
  background-color: white;
  width: 300px;
  height: 451px;
  padding: 30px;
}

.productInfo h1 {
  font-weight: bold;
  margin: 10px 0;
}

.productInfo p {
  text-transform: uppercase;
}

hr {
  margin: 40px 0;
  color: lightgray;
}

.sousProductInfo {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.sousProductInfo .info-col-1 {
  color: #b9b9b9;
}

.sousProductInfo .info-col-2 {
  color: #8f8f8f;
}

p.description {
  font-size: 14px;
  text-transform: none;
  word-break: break-word;
}
